#contenedor {
	WIDTH: 760px;
	background-color: #FFFFFF;
}

#encabezado {
	position: relative;
}

#menu {
	WIDTH: 760px; 
	HEIGHT: 126px;
	top: 0px;
	position: relative;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#centro {
	padding: 0px; 
	margin-top: -1px;
	background-color: #FFFFFF;
	height:100%;
}
#columnaDerecha {
	float: left;
	margin-left: 0px;
	width: 555px;
	height:100%;
	text-align: left;
}

#columnaIzquierda {
	float: right; 
	margin-left: 0px; 
	width: 190px;
	height:100%;	
	background-color: #770000;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#pie{
	height:20px;
	clear: both;
	padding: 0px;
	background-color: #990000;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#tresNodos{
	width: 760px;
	text-align: right;
	margin-top: 0px;
	padding-right: 20px;
}
