BODY {
	FONT-SIZE: 12px; 
	MARGIN: 0px; 
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif;
	TEXT-ALIGN: center;
	background-image: url(../img/bg.png);
	background-color: #EBEBEB;
}

.tituloSeccion {
	margin-top: 5px;
	background-image: url(../img/tituloCotizacion.jpg);
	background-position: left;
}

.textoInterior {
	margin-top: 20px;
	margin-left: 5px;
	width: 400px;
}

.textoInterior h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
	padding-right:10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-bottom: 1px solid #cccccc;
	line-height: 30px;
}


.textoInterior p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-align: left;
	padding-left: 10px;
	padding-right:10px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 0px;
}

.textoInterior p a {
	color: #333333;
	text-decoration:none;
}

.textoInterior p a:hover {
	color: #FF0000;
	text-decoration:none;
	font-weight:bold;
}

.textoInteriorDest {
	font-size: 11px;
	color: #EB0000;
	font-weight:bold;
}

.textoInterior ul {
	font-size: 10px;
	color: #666666;
	font-weight:bold;
}

.textoInterior input {
	font-size: 10px;
	color: #333333;
	border: 1px solid #e1e1e1;
	padding-left: 5px;
}


/******************************************************************************************************/

.events {
	margin-top: 12px;
	height: 100%;
}

.events h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #780000;
	text-transform: uppercase;
	text-align: left;
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0;
}

.events p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-align: left;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 0px;
	margin-bottom: 10px;
}

.events p a{
	color: #FFFFFF;
	text-decoration:none;
}

.events p a:hover{
	color: #FFFFFF;
	text-decoration:underline;
}

.events p a:link{
	color: #FFFFFF;
}


.tituloTeams {
	margin-top: 0px;
	border-bottom: 1px solid #cccccc;
}

.tituloTeams h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #B70000;
	line-height: 20px;
	text-indent: 3px;
	background-image: url(../../img/icoPelotita.jpg);
	background-repeat: no-repeat;
	background-position: right;
	text-align: left;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

.tituloTeams h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #EB0000;
	line-height: 20px;
	text-indent: 3px;
	background-image: url(../../img/icoPelotitaR.jpg);
	background-repeat: no-repeat;
	background-position: right;
	text-align: left;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

.nota {
	text-align: left;
	background-color: #780000;
	padding: 5px;
	margin-top: 0px;
	margin-bottom: 1px;
	float:left;
}

.textoNota {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #FFFFFF;
	width: 150px;
	float: left;
}

.textoNotaItalic {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #FFFFFF;
	width: 150px;
	float: left;
	font-style:italic;
}

.textoNota h1{
	font-size: 11px;
	font-weight: bold;
	margin: 0px;
}


.textoNota p{
	font-size: 10px;
	margin-top: 2px;
	
}

.fotoNota{
	float: right;
}

.foto{
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 5px;
}

.fotoPosicion{
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 5px;
}

.moreInfo{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	margin-top: 2px;
	width: 150px;
	text-align: right;
	padding-right: 15px;
}

.moreInfo a{
	color: #FFFFFF;
	text-decoration:none;
}

.moreInfo a:hover{
	color: #EB0000;
	text-decoration:none;
}

.eventsG {
	margin-top: 40px;
	background-image: url(../../img/siluetaJugador.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.eventsB {
	margin-top: 40px;
	background-image: url(../../img/siluetaJugador2.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.eventsG h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #EB0000;
	text-transform: uppercase;
	text-align: left;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

.eventsB h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #EB0000;
	text-transform: uppercase;
	text-align: left;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

.eventsG p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 0px;
}

.eventsB p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 0px;
}

.tituloSeccionG {
	margin-top: 5px;
}

.tituloSeccionG h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #000000;
	line-height: 20px;
	text-indent: 3px;
	text-transform: uppercase;
	background-image: url(../../img/icoPelotitaG.jpg);
	background-repeat: no-repeat;
	background-position: right;
	text-align: left;
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	width: 93%;
}
.tablaTryouts {
	width: 95%;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-align: left;
	text-indent: 5px;
	line-height: 7pt;
}
.tablaTryouts th{
	background-color: #6E6D6D;
	text-align: center;
	text-indent: 0px;
}

.pie {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#FFFFFF;
	line-height:25px;
}

.contact {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	background-repeat:no-repeat;
	padding-left:10px;
	padding-right:10px;
	font-size:11px;
	line-height:14px;
	font-stretch:condensed;
	color:#333333;
	background-color:#FFFFFF;
	text-align:left;
}

.contact input {
	border:0;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	padding: 2px 2px 1px 2px;
	font-size:11px;
	color:#666666;
	background-color: #FFFFFF;
	border-bottom: 1px solid #cccccc;
}

.contact input.radio {
	border:0;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	padding: 2px 2px 1px 2px;
	font-size:11px;
	color:#666666;
	background-color: #FFFFFF;
}

.contact input.btn{
	color:#FFFFFF;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	background-color: #CCCCCC;
	float: right;
	height: 20px;
	border: 1px solid #FFFFFF;
	line-height: 10px;
}

.floatLeft {
	float:left;
	margin-right:10px;
}

.floatRight {
	float:right;
	margin-left:10px;
}

hr {
	width: 98%;
	border: 0px solid #E8E8E8;
	height: 1px;
	color: #CCCCCC;
}
label {
	float: left;
	width: 25%;
	text-align: left;
	margin-left: 10px;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	width: 200px;
}
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	width: 200px;
}
div.boton{
 text-align: right;
 width: 98%;
 margin-top: 10px;
 position: relative;
 margin-bottom: 10px;
}
div.boton a{
 font-family: arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #990000;
 text-decoration: none;
 background-color: #DFE4E8;
 border: 1px solid #CCCCCC;
 padding-top: 2px;
 padding-bottom: 3px;
 padding-left: 4px;
 padding-right: 4px;
 line-height: 23px;
 margin-left: 5px;
}
div.boton a:hover{
 color: #DFE4E8;
 text-decoration: none;
 background-color: #990000;
 }
 
 .pie3nodos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-align:right;
	margin: 0px;
	padding: 0px;
	width: 760px;
	float:right;
	
}

.pie3nodos a{
	color: #999999;
	text-decoration:none;
}